.Blog .blogPost
{
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    padding-top: 105px;
    margin: auto;
}
.Blog .Title
{
    font-size: 24px;
    font-style: italic;
}
.Blog .Subtitle
{
    font-size: 16px;
}

p
{
    font-size: 18px;
    padding: 2.5%;
}

.Blog .Sign
{
    text-align: right;
}

.Blog .dates
{
    text-align: right;
    font-size: 12px;
    font-style: italic;
}