.About .aboutMe
{
  width: 100%;
  text-align: center;
  display: inline-block;
  filter: drop-shadow(0px 2px 2px #CFCFCF);
}

.About .aboutMeImage
{
  max-width: 75%;
  display: inline-block;
  position: relative;
  max-height: 33.75rem;
  border-radius: 2rem;
  filter: drop-shadow(0px 2px 2px #272727);
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.About .aboutMeDescription
{
  font-family: 'Times New Roman', Times, serif;
  width: 50%;
  display: inline-block;
  position: relative;
  font-size: 1.75rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  vertical-align: top;
}

.About .box2
{
  width: 100%;
  margin-top: 6.5625rem;
  margin-bottom: 3.28125rem;
  height: 20%;
  background-color: #272727;
  font-family: myFont;
  filter: drop-shadow(0px 4px 4px #AFAFAF)
}
.About .headcard
{
  text-align: center;
  height: 6.75rem;
  margin-top: 3.375rem;
  font-size: 6rem;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 2px #000000)
}

@font-face
{
    font-family: myFont;
    src: url(../Fonts/BebasNeue-Regular.woff) format('woff');
    src: url(../Fonts/BebasNeue-Regular.ttf) format('ttf');
}
.About .aboutMeImage:hover
{
  transform: scale(1.10);
}
img
{
  transition: transform .2s;
}
