.About .aboutMe
{
  max-width: 33.75rem;
  max-height: 33.75rem;
  border-radius: 1.25rem;;
  margin-top: -6.25rem;
  filter: drop-shadow(0px 2px 2px #272727);
  text-align: center;
}

.column {
  float: left;
}

.left {
  margin-left: 6.25rem;
  width: 25%;
}

.right {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 50%;
  padding-left: 1.875rem;
  margin-top: -3.5rem;
  font-size: 1.75rem;
  text-align: left;
  margin-left: 100px;
  filter: drop-shadow(0px 1px 1px #AFAFAF)
}

.About .aboutMeDescription
{
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}
.About .row
{
  padding: 1.875rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
img
{
  transition: transform .2s;
}

.About .box2
{
  width: 100%;
  margin-top: 6.5625;
  height: 20%;
  background-color: #272727;
  font-family: myFont;
  filter: drop-shadow(0px 4px 4px #AFAFAF)
}
.About .headcard
{
  width: 12.5%;
  height: 6.75rem;
  margin: 6.75rem;
  margin-top: 3.375rem;
  font-size: 6rem;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 2px #000000)
}

@font-face
{
    font-family: myFont;
    src: url(../Fonts/BebasNeue-Regular.woff) format('woff');
    src: url(../Fonts/BebasNeue-Regular.ttf) format('ttf');
}
.About .aboutMe:hover
{
  transform: scale(1.10);
}