@font-face
{
    font-family: myFont;
    src: url(../Fonts/BebasNeue-Regular.woff) format('woff');
    src: url(../Fonts/BebasNeue-Regular.ttf) format('ttf');
}
.Blog .box2
{
  width: 100%;
  height: 6.25rem;
  background-color: #272727;
  filter: drop-shadow(0px 4px 4px #AFAFAF);
  font-family: myFont;
}
.Blog .MostRecent
{
  width: 75%;
  margin: auto;
  padding-top: 3rem;
    /* "transparent" only works here because == rgba(0,0,0,0) */
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #000000, transparent);
}
.Blog .headcard
{
  width: 12.5%;
  height: 3.375rem;
  margin: 5.625rem;
  margin-top: 3.75rem;;
  margin-bottom: 0rem;
  font-size: 6rem;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 2px #000000);
}
button
{
  margin: 0 auto;
  display: block;
  font-size: 1.75rem;
  border: none;
  color: #FCFCFC;
  background-color: #272727;
  padding: 1rem;
  border-radius: 3.125rem;
  margin-bottom: -1.5625rem;
  font-family: myFont;
  filter: drop-shadow(0px 2px 4px #2F2F2F);
  position: relative;
}
img
{
  transition: transform .2s;
}