.App {
  background-color: #EFEBE6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@font-face
{
    font-family: myFont;
    src: url(./Fonts/BebasNeue-Regular.woff) format('woff');
    src: url(./Fonts/BebasNeue-Regular.ttf) format('ttf');
}
